.form{
  background-color: lightcyan;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  margin: 0 auto 50px auto;
  padding: 20px;

}

.form-button{
  width: 25%;
  cursor: pointer;
}