.cart-list{
  display: flex;
  flex-direction: column; 
  padding: 15px 5px;
}

.cart-total{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold; 
  
}

.cart-empty{ 
  font-size: 25px; 
  font-weight: 500;
  text-align: center;
  color:   rgb(123, 35, 18);
  line-height: 1.6;  
  margin-bottom: 50px;

}

.cart-buttons{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

.cart-button{
  border: 1px solid rgb(123, 35, 18);
  border-radius: 15px;
  outline: none;
  margin-left: 10px;
  padding: 5px 18px;
  cursor: pointer;
}

.cart-button:nth-child(1){
  color: rgb(123, 35, 18);
}

.cart-button:nth-child(1):hover{
  color: white;
  background: rgb(123, 35, 18);
}

.cart-button:nth-child(2){
  background:  rgb(123, 35, 18);
  color: white;
}

.cart-button:nth-child(2):hover{
  background: rgb(70, 22, 12);
}

.cart-button:nth-child(2):disabled{
  cursor: not-allowed;
}
