.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 500; 
}

.modal{
  background: white;  
  width: 65vw;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  color: black;  
  padding: 5px 10px;
  z-index: 1000;
}

.hidden{
  display: none;
}
 

